<html>

<head>
<link href="app/assets/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="app/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="app/assets/css/mine.css">

<title>ke2mcbri</title>

</head>

<body>

<div id="main">

<div id="header">
    <ul id="template_nav">
        <li class="nav_image"><a href="stuff.html">stuff</a> </li>
        <li class="nav_image"><a href="http://github.com/kemcbride">github</a> </li>
        <li class="nav_image"><a href="http://twitter.com/ke2mcbri">twitter</a> </li>
        <li class="nav_image"><a href="https://soundcloud.com/kelly-mcbride-944277949/likes">soundcloud</a> </li>
        <li class="nav_image"><a href="http://www.neopets.com/petlookup.phtml?pet=Darling_Eunice">neopets</a> </li>
        <li class="nav_image"><a href="http://www.groovestats.com/index.php?page=profile&id=31275">groovestats</a> </li>
    </ul>
</div>

<div id="content" class='container'>
{{ content }}
</div>

</div>

</body>

</html>
