<html>

<head>
<link href="app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="app/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="app/assets/css/mine.css">

<title>ke2mcbri</title>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script>
scores = {{scores_json}};
</script>
<script type='text/javascript' src='app/js/highscore.js'></script>

</head>

<body>

<div id="main">

{{content}}

</div>

</body>

</html>
