<div class='itg'>

<h2> {{song_name}} </h2>
<h3> {{length}} // {{mods}} // {{difficulty}} [{{difficulty_level}}] // {{pct_score}}% // {{grade}} </h3>

<div class='row'>
<div class="radar col-md-4">
<table>
	{% for name, item in radar_values.items() %}
	<tr>
	<td class='itg_block'>{{ name }}:</td> <td class='itg_block'>{{ item }}</td>
	</tr>
	{% endfor %}
</table>
</div>

<div class="hold_notes itg_block col-md-4">
<ul>
	{% for name, item in hold_note_scores.items() %}
	<li>{{ name }}: {{ item }}</li>
	{% endfor %}
</ul>
</div>

<div class="tap_notes itg_block col-md-4">
<ul>
	<li><span class='fantastic'>{{ tap_note_scores['Marvelous'] }}</span></li>
	<li><span class='excellent'>{{ tap_note_scores['Perfect'] }}</span></li>
	<li><span class='great'>{{ tap_note_scores['Great'] }}</span></li>
	<li><span class='good'>{{ tap_note_scores['Good'] }}</span></li>
	<li><span class='wayoff'>{{ tap_note_scores['Boo'] }}</span></li>
	<li><span class='miss'>{{ tap_note_scores['Miss'] }}</span></li>
</ul>
</div>

</div>
</div>
