<div class='itg'>

<h2> {{r.title}} </h2>
<h3>
{{r.length}} // {{r.modifiers}} // {{r.chart.title}} [{{r.chart.level}}] //
{{ '{0:.2f}'.format(r.chart.score.percent) }}% // {{r.chart.score.grade}}
</h3>

<div class='row'>
<div class="radar col-md-4">
<table>
	<tr>
	<td class='itg_block'>Taps:</td> <td class='itg_block'>{{ r.chart.num_taps }}</td>
	</tr>
	<tr>
	<td class='itg_block'>Holds:</td> <td class='itg_block'>{{ r.chart.num_holds }}</td>
	</tr>
	<tr>
	<td class='itg_block'>Jumps:</td> <td class='itg_block'>{{ r.chart.num_jumps }}</td>
	</tr>
	<tr>
	<td class='itg_block'>Hands:</td> <td class='itg_block'>{{ r.chart.num_hands }}</td>
	</tr>
	<tr>
	<td class='itg_block'>Rolls:</td> <td class='itg_block'>{{ r.chart.num_rolls }}</td>
	</tr>
	<tr>
	<td class='itg_block'>mines:</td> <td class='itg_block'>{{ r.chart.num_mines }}</td>
	</tr>
</table>
</div>

<div class="hold_notes itg_block col-md-4">
<ul>
</ul>
</div>

<div class="tap_notes itg_block col-md-4">
<ul>
	<li><span class='fantastic'>{{ r.chart.score.num_fantastic }}</span></li>
	<li><span class='excellent'>{{ r.chart.score.num_excellent }}</span></li>
	<li><span class='great'>{{ r.chart.score.num_great }}</span></li>
	<li><span class='decent'>{{ r.chart.score.num_decent }}</span></li>
	<li><span class='wayoff'>{{ r.chart.score.num_wayoff }}</span></li>
	<li><span class='miss'>{{ r.chart.score.num_miss }}</span></li>
</ul>
</div>

</div>
</div>
